<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="     sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body></body>
    <div class="container justify-content-center">
    <div class = "well">
      <h1> Hero Squad </h1>
    </div>
    <div class = "jumbotron">
      
    </div>
      #parse( $template )
    </div>
  </body>
</html>