<h1>Squad</h1>
<ul>
  #foreach ($squad in $squads)
    <li>
    <p>Name: </p><span>$squad.getName()</span>
    <br>
    <p>Size: </p><span> $squad.getSize()</span> 
    <br>
    <p>Cause: </p><span> $squad.getCause()</span> 
    </li>
  #end
</ul>

<a href="/add_hero_form">Add New Hero</a>
<a href="/add_squad_form">Add New Squad</a>